In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 경고 뜨지 않게
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 6개 parquet 파일 경로 리스트 
file_list = [
    'open/test/5.잔액정보/201807_test_잔액정보.parquet',
    'open/test/5.잔액정보/201808_test_잔액정보.parquet',
    'open/test/5.잔액정보/201809_test_잔액정보.parquet',
    'open/test/5.잔액정보/201810_test_잔액정보.parquet',
    'open/test/5.잔액정보/201811_test_잔액정보.parquet',
    'open/test/5.잔액정보/201812_test_잔액정보.parquet',

]

# 빈 데이터프레임 리스트 생성
dfs = []

# 각 파일을 읽어서 dfs 리스트에 추가
for file in file_list:
    df = pd.read_parquet(file)
    dfs.append(df)

# 데이터프레임 합치기 (행 기준으로 아래로 붙이기)
merged_df = pd.concat(dfs, ignore_index=True)

In [3]:
# 합친 데이터 확인
print(merged_df.shape)
print(merged_df.head())

(600000, 82)
     기준년월          ID  잔액_일시불_B0M  잔액_할부_B0M  잔액_현금서비스_B0M  잔액_리볼빙일시불이월_B0M  \
0  201807  TEST_00000        4802          0             0                0
1  201807  TEST_00001        1201       8628          5448                0
2  201807  TEST_00002        3046       6144             0                0
3  201807  TEST_00003         768        945             0                0
4  201807  TEST_00004         637       2558             0                0

   잔액_리볼빙CA이월_B0M  잔액_카드론_B0M  월중평잔_일시불_B0M  월중평잔_할부_B0M  ...  평잔_6M  \
0               0           0          6412            0  ...   3847
1               0       24299          1010         8156  ...  42634
2               0           0          4407         8033  ...  22936
3               0           0          1107          674  ...   1206
4               0           0          1072         3690  ...   2914

   평잔_일시불_6M  평잔_일시불_해외_6M  평잔_RV일시불_6M  평잔_RV일시불_해외_6M  평잔_할부_6M  \
0       2933           384            0               0         0
1        657             0            0               0      7979
2       6253             0            0               0     12329
3        819             0            0               0       468
4        979             0            0               0      2414

   평잔_할부_해외_6M  평잔_CA_6M  평잔_CA_해외_6M  평잔_카드론_6M
0            0         0            0          0
1            0      1530            0      31707
2            0         0            0          0
3            0         0            0          0
4            0         0            0          0

[5 rows x 82 columns]

In [4]:
# 필요하면 하나로 합친 데이터 저장
merged_df.to_parquet('open/test/5.잔액정보/2018_test_잔액정보.parquet')

In [5]:
df = pd.read_parquet ('open/test/5.잔액정보/2018_test_잔액정보.parquet')
df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TEST_00000,4802,0,0,0,0,0,6412,0,...,3847,2933,384,0,0,0,0,0,0,0
1,201807,TEST_00001,1201,8628,5448,0,0,24299,1010,8156,...,42634,657,0,0,0,7979,0,1530,0,31707
2,201807,TEST_00002,3046,6144,0,0,0,0,4407,8033,...,22936,6253,0,0,0,12329,0,0,0,0
3,201807,TEST_00003,768,945,0,0,0,0,1107,674,...,1206,819,0,0,0,468,0,0,0,0
4,201807,TEST_00004,637,2558,0,0,0,0,1072,3690,...,2914,979,0,0,0,2414,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599996,201812,TEST_99996,191,0,0,0,0,0,260,0,...,275,137,0,0,0,0,0,0,0,0
599997,201812,TEST_99997,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599998,201812,TEST_99998,17916,2786,0,0,0,0,16911,2081,...,20549,18108,240,0,0,1830,0,0,0,0
599999,201812,TEST_99999,44,0,0,0,0,0,37,0,...,18,9,0,0,0,0,0,0,0,0