In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 경고 뜨지 않게
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 6개 parquet 파일 경로 리스트 
file_list = [
    'open/train/5.잔액정보/201807_train_잔액정보.parquet',
    'open/train/5.잔액정보/201808_train_잔액정보.parquet',
    'open/train/5.잔액정보/201809_train_잔액정보.parquet',
    'open/train/5.잔액정보/201810_train_잔액정보.parquet',
    'open/train/5.잔액정보/201811_train_잔액정보.parquet',
    'open/train/5.잔액정보/201812_train_잔액정보.parquet',

]

# 빈 데이터프레임 리스트 생성
dfs = []

# 각 파일을 읽어서 dfs 리스트에 추가
for file in file_list:
    df = pd.read_parquet(file)
    dfs.append(df)

# 데이터프레임 합치기 (행 기준으로 아래로 붙이기)
merged_df = pd.concat(dfs, ignore_index=True)

In [3]:
# 합친 데이터 확인
print(merged_df.shape)
print(merged_df.head())

(2400000, 82)
     기준년월            ID  잔액_일시불_B0M  잔액_할부_B0M  잔액_현금서비스_B0M  잔액_리볼빙일시불이월_B0M  \
0  201807  TRAIN_000000         998        962         22971                0
1  201807  TRAIN_000001        2565       2390             0                0
2  201807  TRAIN_000002        5312       5113         21531             6795
3  201807  TRAIN_000003         730       5025         26284                0
4  201807  TRAIN_000004           0          0             0                0

   잔액_리볼빙CA이월_B0M  잔액_카드론_B0M  월중평잔_일시불_B0M  월중평잔_할부_B0M  ...  평잔_6M  \
0               0           0          1084          547  ...  15988
1               0           0          4090         2553  ...   7045
2               0           0          5006         8778  ...  66549
3               0           0           487         5607  ...  30139
4               0           0             0            0  ...     28

   평잔_일시불_6M  평잔_일시불_해외_6M  평잔_RV일시불_6M  평잔_RV일시불_해외_6M  평잔_할부_6M  \
0       2440             0            0               0       572
1       2677             0         2830               0      2736
2       9118             0         8870               0      4429
3        884             0            0               0      5097
4         21             0            0               0         0

   평잔_할부_해외_6M  평잔_CA_6M  평잔_CA_해외_6M  평잔_카드론_6M
0            0     17008            0          0
1            0         0            0          0
2            0     43351            0          0
3            0     30697            0          0
4            0         0            0          0

[5 rows x 82 columns]

In [4]:
# 필요하면 하나로 합친 데이터 저장
merged_df.to_parquet('open/train/5.잔액정보/2018_train_잔액정보.parquet')

In [5]:
df = pd.read_parquet ('open/train/5.잔액정보/2018_train_잔액정보.parquet')
df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,7045,2677,0,2830,0,2736,0,0,0,0
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,66549,9118,0,8870,0,4429,0,43351,0,0
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,30139,884,0,0,0,5097,0,30697,0,0
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,28,21,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,TRAIN_399996,3351,0,0,0,0,27337,4412,0,...,67826,12524,0,0,0,0,0,0,0,23031
2399997,201812,TRAIN_399997,2524,2960,0,0,0,0,2694,3374,...,8627,3241,0,0,0,3995,0,0,0,0
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,5463,1053,0,0,0,4373,0,0,0,0